<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Services</title>
</head>
<body>
    
<h1>Services page</h1>


    <form action="" >
        <label for="fullName">Full Name</label>
        <input id="fullName" name="fullname" type="text">

        <label for="email">Email</label>
        <input id="email" name="email" type="email">

        <label for="phone">Phone</label>
        <input id="phone" name="phone" type="number">

        <button type="submit">Submit</button>

    </form>

    {{message}}

    <h2>List of Person</h2>

    {% for person in person_list %}

        <h3>NAME : {{person.name}}</h3>
        <h4>PHONE : {{person.phone}} </h4>
        <h5>EMAIL : {{person.email}} </h5>
        <hr>

    {% endfor %}

</body>
</html>